<a href="/logout">Log Out</a> | <a href="/Dashboard">Dashboard</a>

<h1>Plan Your Wedding</h1>

@model WeddingPlanner.Models.AddWedding
<div class="jumbotron">
    <form asp-action="AddWedding" method=POST>
        <label asp-for="WedderOne"></label>
        <input asp-for="WedderOne" class="form-control">
        <span asp-validation-for="WedderOne" class="text-danger"></span>
        <br>

        <label asp-for="WedderTwo"></label>
        <input asp-for="WedderTwo" class="form-control">
        <span asp-validation-for="WedderTwo" class="text-danger"></span>
        <br>

        <label asp-for="DateOfEvent"></label>
        <input type ="date" asp-for="DateOfEvent" class="form-control">
        <span asp-validation-for="DateOfEvent" class="text-danger"></span>
        <br>
        
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control">
        <span asp-validation-for="Address" class="text-danger"></span>
        <br>

        <input type="submit" value="Create" class="btn btn success">
        
        
    </form>
</div>
